@()
<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
    </head>

    <body>

        <br>
        <h1 align="center" style="font-family:AngsanaUPC; font-size: 28px"><b>ข้อมูลส่วนตัว</b></h1>
        <center> <img  src="assets/images/profile1.jpg" style="width:216px;height:288px;"> </center>
        <h2 style="font-family:AngsanaUPC;font-size: 24px" align="center" >รหัสประจำตัวนักศึกษา : 60342110120-3</h2>
        <h2 style="font-family: AngsanaUPC;font-size: 24px" align="center">ชื่อ-นามสกุล : วรดี จงแพทย์</h2>
        <h2 style="font-family: AngsanaUPC;font-size: 24px" align="center"> วันเกิด : 5 พฤษภาคม 2542</h2>
        <h2 style="font-family: AngsanaUPC;font-size: 24px" align="center"> สัญชาติ : ไทย  เชื้อชาติ : ไทย</h2>
        <h2 style="font-family: AngsanaUPC;font-size: 24px" align="center"> ชอบแต่งรูป ถ่ายรูปธรรมชาติ : ไทย  เชื้อชาติ : ไทย </h2>
        <h2 style="font-family: AngsanaUPC;font-size: 24px" align="center">สาขา : ระบบสารสนเทศทางคอมพิวเตอร์ </h2>
        <h2 style="font-family: AngsanaUPC;font-size: 24px" align="center">คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ </h2>
        <h2 style="font-family: AngsanaUPC;font-size: 24px" align="center">มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น </h2>

    </body>

</html>