@(myForm:Form[Tourist],organizeList:List[Organizes])
@import helper._;
    <link rel="stylesheet" href="/assets/stylesheets/editM.css">
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>แก้ไขข้อมูลแหล่งท่องเที่ยว</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </header>

    <script type='text/javascript'>
        function preview_image(event){
            var reader = new FileReader();
            reader.onload = function()
            {
                var output = document.getElementById('preview');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
</script>
    @if(flash.containsKey("msgError")){
        <div class="alert alert-danger">
            <strong>ผิดพลาด!</strong> @flash.get("msgError")
        </div>
    }
    <body style="background: #4e555b">
        @form(action = routes.Application.updateTourist(),'class ->"from-control", 'enctype->"multipart/form-data"){
            <br>
            <h1 style="font-family: AngsanaUPC">แก้ไขข้อมูลแหล่งท่องเที่ยว</h1>
            <fieldset style="font-family: AngsanaUPC">
                <div class="container" align="left">
                    @inputText(myForm("tid"),'_label->"รหัสสถานที่",'size->"10",'maxlength->"255",'readOnly->"readOnly")
                    @inputText(myForm("name"),'_label->"ชื่อสถานที่",'size->"10",'maxlength->"255",'required->"required")
                    @inputText(myForm("type"),'_label->"ลักษณะ",'size->"10",'maxlength->"255",'required->"required")
                    @textarea(myForm("detail"),'_label->"รายละเอียด",'cols -> "65",'rows -> "5",'maxlength -> "255",'required->"required")

                    @inputText(myForm("size"),'_label->"ขนาดพื้นที่",'size->"10",'maxlength->"255",'required->"required")
                    @inputText(myForm("locate"),'_label->"สถานที่ตั้ง",'size->"10",'maxlength->"255",'required->"required")
                    @textarea(myForm("history"),'_label->"ประวัติความเป็นมา",'cols -> "65",'rows -> "5",'maxlength->"255",'required->"required")
                    @inputText(myForm("timeopen"),'_label->"เวลาเปิดทำการ",'size->"10",'maxlength->"255",'required->"required")
                    @inputText(myForm("tel"),'_label->"เบอร์โทรติดต่อ",'size->"10",'maxlength->"10",'required->"required")
                    @inputText(myForm("email"),'_label->"E-mail",'size->"10",'maxlength->"255",'required->"required")
                    @inputText(myForm("servicethai"),'_label->"ค่าบริการ(คนไทย)",'size->"10",'maxlength->"255",'required->"required")
                    @inputText(myForm("serviceeng"),'_label->"ค่าบริการ(ชาวต่างชาติ)",'size->"10",'maxlength->"255",'required->"required")

                    @inputText(myForm("yearopen"),'_label->"ปีที่จัดตั้ง",'size->"10",'maxlength->"4",'required->"required")
                    @select(myForm("organize.oid"),options=organizeList.map(organize=>organize.getOid->organize.getName),'_label -> "หน่วยงานที่รับผิดชอบ")

            </fieldset>

            <button type="submit" value="บันทึก">Submit</button>

        }<br>
    </body>

