@(content:Html)

: Unit = <title>Travel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body {
    font-family:AngsanaUPC ;
    font-size: x-large;
}
</style>
<head>

</head>
    <!-- Navbar (sit on top) -->
<div class="w3-top w3-light-grey" style="font-family: AngsanaUPC">
    <div class="w3-bar"  id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="/Home" class="w3-bar-item w3-button "><i class="fa fa-user"></i> หน้าหลัก</a>
        @if(session.get("userId")=="admin") {
            <a href="/listpageMember/1" class="w3-bar-item w3-button "><i class="fa fa-th"></i> ข้อมูลสมาชิก</a>
            <a href="/listpageOr/1" class="w3-bar-item w3-button "><i class="fa fa-envelope"></i> หน่วยงาน</a>
            <a href="/listTourist" class="w3-bar-item w3-button "><i class="fa fa-envelope"></i> Tour</a>
            <a href="/listPicture" class="w3-bar-item w3-button "><i class="fa fa-envelope"></i> เพิ่มรูปภาพ</a>
        }
        @if(session.get("userId") == null) {
            <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-blue">
                <i class="w3-large fa fa-user" >เข้าสู่ระบบ</i>
            </a>
        }else{
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <button class="w3-padding-large w3-button w3-xlarge" title="More"> <i  style='font-size:10px;color:green'></i>&nbsp;&nbsp;Username: @session.get("userId") <i class="fa fa-user"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/profile" class="w3-bar-item w3-button">Profile</a>
                    <a href="/logoff" class="w3-bar-item w3-button">Log out</a>
                </div>
        }
            </div>
        </div>

</div>
    @content