
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/inweb.css">

<html>
    <head>
        <title>Travel in Khonkaen</title>


    </head>
    <body>
        <header>
            <div class="main">
                <div class="logo">
                    <img src="assets/images/logo.png">
                </div>

                <div style="font-size: x-large">
                    <ul >
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/listTour" class="btn-success">อุทยาน</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>

            </div>

        </header>

    </body>
</html>


