#menu {
    margin: 0;
    width: auto;
    background-color: #565656;
    font-size: 16px;
    font-family: "Dubai Medium";
    font-weight: bold;
    text-align: left;
    padding: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.6s ease;
}


#menu ul {
    margin: 0;
    padding: 8px 0;
    list-style: none;
    height: auto;

}

#menu li {
    display: inline;
    padding: 8px;


}

#menu a {
    color: #FFF;
    padding: 10px;
    text-decoration: none;
    transition: 0.6s ease;
}

#menu a:hover {
    background-color: #fd7e14;
    color: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}

#menu li .active {
    color: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;

}
.logo img{
    margin: 10px;
    float: left;
    width: 100px;
}



