<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>

        <h2 style="font-family: AngsanaUPC;font-size: 28px" align="center"><b>ประวัติการศึกษา</b></h2>
        <br>


        <table class="w3-table w3-striped w3-border w3-xlarge" >
            <tr>
                <th style="font-family: AngsanaUPC;">อนุบาล :</th>
                <th style="font-family: AngsanaUPC;">--</th>
            </tr>

            <tr>
                <th style="font-family: AngsanaUPC;">ประถมศึกษาตอนต้น-ตอนปลาย :</th>
                <th style="font-family: AngsanaUPC;">--</th>
            </tr>

            <tr>
                <th style="font-family: AngsanaUPC;">มัธยมศึกษาตอนต้น-ตอนปลาย :</th>
                <th style="font-family: AngsanaUPC;">--</th>
            </tr>

            <tr>
                <th style="font-family: AngsanaUPC;">มหาวิทยาลัย :</th>
                <th style="font-family: AngsanaUPC;">มหาวิทยาเทคโนโลยีอีสาน วิทยาเขตขอนแก่น</th>
            </tr>

        </table>

        <!--<table align="center" cellspacing="10" cellpadding="25" border="1" bgcolor="aqua" style="font-size: 20px">

                <tr>
                    <td align="right">อนุบาล :</td>
                    <td>---</td>
                </tr>

                <tr>
                    <td align="right">ประถมศึกษา :</td>
                    <td >---</td>
                </tr>

                <tr>
                    <td align="right">มัธยม:</td>
                    <td>----</td>
                </tr>

                <tr>
                    <td align="right">มหาวิทยาลัย</td>
                    <td>---</td>
                </tr>
        </table>-->

    </body>
</html>
