<html>
    <head>

    </head>

    <body>
        <h1 align="center" style="font-family:AngsanaUPC;">เป้าหมาย</h1> <br>

        <dd>
            <center> <img  src="assets/images/TV5.jpg" style="width:480px;height:320px;"> </center> <br>
            <p style="font-family:AngsanaUPC; font-size: 24px" >ดูแลคนที่บ้าน</p> <br>
            <center> <img  src="assets/images/TV4.jpg" style="width:480px;height:320px;"> </center> <br>
            <p style="font-family:AngsanaUPC; font-size: 24px" >เรียนให้จบ</p> <br>
            <center> <img  src="assets/images/TV3.jpg" style="width:480px;height:480px;"> </center> <br>
            <p style="font-family:AngsanaUPC; font-size: 24px" >การได้สะพายกระเป๋าไปเที่ยวคนเดียว ไปในพื้นที่ธรรมชาติสีเขียว ในพื้นที่ ที่เงียบสงบ</p> <br>

        </dd>
    </body>

</html>