<html>
    <head>
        <!--<link rel="stylesheet" href="/assets/stylesheets/bootstrap/css/bootstrap.css">-->
        <style>
        body {
            font-family: AngsanaUPC ;
            font-size: 18;
            margin: 0;
        }
        </style>
    </head>
        <!--public Suit(String productId,String brand, String producer, String type, String color, String pattern, String texture, int price, String treatment)-->
    <body>
        <!--<h1 align="center">Form Suit</h1>-->
        <form action="/postSuit" method="post">
            <table class="w3-table w3-striped w3-bordered w3-xlarge" >
                <tr>
                    <h1 align="center">Dynamic Form Suit</h1>

                </tr>

                <tr>
                    <th>รหัสสินค้า</th>
                    <td><input type="text" name="id" size="20" maxlength="8" required></td>
                </tr>

                <tr>
                    <th>ยี่ห้อ</th>
                    <td>
                        <input type="radio" name="brand" value="SUITCUBE">SUITCUBE
                        <input type="radio" name="brand" value="SUITSELECT">SUIT SELECT
                        <input type="radio" name="brand" value="ZARA">ZARA
                        <input type="radio" name="brand" value="POEM">POEM
                    </td>
                </tr>

                <tr>
                    <th>เจ้าของยี่ห้อ</th>
                    <td><input type="text" name="producer" size="50" maxlength="30"></td>
                </tr>

                <tr>
                    <th>ประเภท</th>
                    <td>
                        <select name="typesuit">
                            <option value="Single Breasted">Single Breasted</option>
                            <option value="Double Breasted">Double Breasted</option>
                            <option value="Tuxedo">Tuxedo</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>สี</th>
                    <td>
                        <select name="color">
                            <option value="Gray">Gray</option>
                            <option value="Black">Black</option>
                            <option value="Pink">Pink</option>
                            <option value="Coral Black">Coral Black</option>
                            <option value="Burgundy">Burgundy</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>ลวดลาย</th>
                    <td>
                        <select name="pattern">
                            <option value="NoPattern">No Pattern</option>
                            <option value="Tartan">Tartan</option>
                            <option value="Seersucker">Seersucker</option>
                            <option value="Windowpane">Windowpane</option>
                            <option value="Houndstooth">Houndstooth</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>เนื้อผ้า</th>
                        <td>
                            <input type="radio" name="texture" value="Linen">Linen
                            <input type="radio" name="texture" value="Cotton">Cotton
                            <input type="radio" name="texture" value="Wool">Wool
                        </td>

                </tr>

                <tr>
                    <th>ราคา</th>
                    <td><input type="number" name="price"></td>
                </tr>

                <tr>
                    <th>การดูแล</th>
                    <td><textarea name="treatment" cols="60" rows="5"></textarea></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" value="Save" class="btn btn-success">
                        <input type="reset" value="Clear" class="btn btn-danger">
                    </td>
                </tr>

            </table>
        </form>
    </body>
</html>
