@(myForm:Form[Movie],sweaterList:List[Sweater])

@import helper._;
<html>
    <head>
        <title>Movie Ebean</title>

        <style>

        body {
            font-family: AngsanaUPC;
            font-size: 18px;
            margin: 0;
        }
        </style>
    </head>

    <body style="background-color: rgba(224, 201, 31, 0.72)">
        <h1 align="center" style="font-family: AngsanaUPC">Movie Ebean</h1>
        <h1 style="font-family: AngsanaUPC">รับข้อมูลใหม่</h1>

        <div class="w3-xlarge">
            @form(action = routes.Application.createMovie(),'class->"form-control"){

                @inputText(myForm("id"),'_label->"รหัสภาพยนต์",'size->"10",'maxlength->"7")
                @inputText(myForm("title"),'_label->"ชื่อเรื่องภาพยนต์",'size->"50",'maxlength->"40")
                @inputText(myForm("actor"),'_label->"นักแสดงนำฝ่ายชาย",'size->"40",'maxlength->"30")
                @inputText(myForm("actress"),'_label->"นักแสดงนำฝ่ายหญิง",'size->"40",'maxlength->"30")
                @inputText(myForm("Year"),'_label->"ปี",'size->"6",'maxlength->"4")

                @select(myForm("sweater.id"),options=sweaterList.map(sweater=>sweater.getId->sweater.getBrand),'_label->"แบรนด์เสื้อ")
                @select(myForm("sweater.id"),options=sweaterList.map(sweater=>sweater.getType->sweater.getType),'_label->"ประเภทเสื้อ")
                <input type="submit" value="บันทึก" class="w3-button w3-green">
                <input type="reset" value="ลบ" class="w3-button w3-red">
            }

            @if(flash.containsKey("errMessage")){
                <div class="alert alert-danger">
                    <strong>Error!</strong>
                    @flash.get("errMessage")
                </div>
            }
        </div>

    </body>

</html>


