<!DOCTYPE html>
<html>
    <head>
        <style>

        .center {
            text-align: center;
            border: 3px solid red;
        }
        </style>
    </head>
    <body>

        <h1 align="center" style="font-family:AngsanaUPC;">สถานที่ท่องเที่ยว</h1>

        <div class="center">
            <h3 align="center" style="font-family:AngsanaUPC;">ทุ่งกะมัง</h3>
        </div> <br>


        <dd>
            <p style="font-family:AngsanaUPC; font-size: 24px" >ที่ตั้งทุ่งกะมัง : เขตรักษาพันธ์สัตว์ป่าภูเขียว อำเภอคอนสาร จังหวัดชัยภูมิ

                เวลาทำการ : 8.00 - 16.00 น.</p> <br>
            <center> <img  src="assets/images/TK01.jpg" style="width:970px;height:635px;"> </center> <br>
            <p style="font-family:AngsanaUPC;font-size: 24px">ทุ่งกะมัง ตั้งอยู่ในเขตรักษาพันธุ์สัตว์ป่าภูเขียว จ.ชัยภูมิ เป็นทุ่งเพ็กกว้างใหญ่มีเนื้อที่ประมาณ 5,000 ไร่ มีความสูงจากระดับน้ำทะเลประมาณ 900 เมตร ตั้งอยู่กลางพื้นที่ป่าภูเขียวค่อนไปทางทิศตะวันตก ลักษณะเป็นทุ่งหญ้าธรรมชาติบนลูกเนินสูงต่ำสลับประดุจลูกคลื่นต่อเนื่องกันไป มีธารน้ำหลายสายไหลผ่าน พื้นที่โดยรอบเป็นป่าดิบเขา</p> <br>
            <p style="font-family:AngsanaUPC;font-size: 24px">จุดเด่นของแหล่งท่องเที่ยว : ในพื้นที่ป่าภูเขียวที่มีผืนป่าธรรมชาติที่สมบูรณ์ นับจากปากทางหน่วยปางม่วงเข้าไป จะพบลำน้ำพรม ที่หน่วยศาลาพรม เป็นสายน้ำใหญ่ยังคงธรรมชาติดั้งเดิม เมื่อเข้าไปยังบริเวณทุ่งกะมัง จะผ่านผืนป่าหลากชนิด จนกะทั่งมาถึงทุ่งกะมัง ที่มีสภาพภูมิประเทศเป็นทุ่งหญ้าเพ็กล้อมรอบด้วยป่าดงดิบ</p> <br>

            <center> <img  src="assets/images/TK1.jpg" style="width:970px;height:635px;"> </center> <br>
            <center> <img  src="assets/images/TK2.jpg" style="width:970px;height:635px;"> </center> <br>
            <center> <img  src="assets/images/TK3.jpg" style="width:970px;height:635px;"> </center> <br>
            <center> <img  src="assets/images/TK5.jpg" style="width:970px;height:635px;"> </center> <br>
            <center> <img  src="assets/images/TK9.jpg" style="width:970px;height:635px;"> </center> <br>
            <center> <img  src="assets/images/TK10.jpg" style="width:970px;height:635px;"> </center> <br>


            <p>Cr. Facebook Fanpage : อาเฌอ</p>
        </dd>

    </body>
</html>
