@(pictureList:Form[Pics],touristList:List[Tourist])
@import helper._;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="/assets/stylesheets/from.css">
<link rel="javascripts" href="/assets/javascripts/from.js">
<script type='text/javascript'>
        function preview_image(event){
            var reader = new FileReader();
            reader.onload = function()
            {
                var output = document.getElementById('preview');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
</script>




<title>เพิ่มรูปภาพ</title>
@if(flash.containsKey("msgError")){
    <div class="alert alert-danger">
        <strong>ผิดพลาด!</strong> @flash.get("msgError")
    </div>
}
<body ng-controller="RegisterCtrl" ng-app="myApp">

    <div class="container">
        <div id="signup">
            <div class="signup-screen">
                <div class="space-bot text-center">
                    <h1>เพิ่มรูปภาพ</h1>
                    <div class="divider"></div>
                </div>

                <div class="input-field col s6">
                @helper.form(action = routes.Application.createPicture(),'class ->"from-control",'enctype->"multipart/form-data"){
                    @inputText(pictureList("Imagejpg"), '_label ->"รหัสภาพ",'required->"required")
                    @inputText(pictureList("Nameimage"), '_label ->"ชื่อภาพ", 'size->"20", 'maxlength->"30", 'required->"required")
                    @textarea(pictureList("Txtimage"),'_label ->"รายละเอียด",'cols->"40", 'rows->"3",'required->"required")
                    @inputDate(pictureList("Dataimage"), '_label ->"วันเวลา",'required->"required")
                    @select(pictureList("tourist.tid"),options=touristList.map(tourist=>tourist.getTid->tourist.getName),'_label -> "สถานที่ท่องเที่ยว")
                    <input type="file" name="myfile" accept="image/*" onchange="preview_image(event)"/>
                    <br><img id="preview" class="img-fluid img-thumbnail" style="width: 150px; height: 150px;"/>

                </div>
                <div class="space-top text-center">
                    <input type="submit" value="บันทึก" class="btn btn-success">
                    <input type="reset" value="เคลียร์" class="btn btn-danger">
                </div>
                }

            </div>
        </div>
    </div>

</body>
