@(picsList : List[Pics])
<link rel="stylesheet" href="/assets/stylesheets/tabel.css">
<script type='text/javascript'>
        function preview_image(event){
            var reader = new FileReader();
            reader.onload = function()
            {
                var output = document.getElementById('preview');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
</script>
<body>
    <h1>ข้อมูลรูปภาพ</h1>
    <table class="container">
        <thead>
            <tr>

                <th> <h1> รหัสภาพ </h1></th>
                <th> <h1> ชื่อภาพ </h1></th>
                <th> <h1> รายละเอียด </h1></th>
                <th> <h1> วัน/เดือน/ปี </h1></th>
                <th> <h1> เป็นรูปของสถานที่ชื่อ </h1></th>
                <th><h1>รูปภาพ</h1></th>
                <th> <h1><a href="/newPicture"class="btn btn-info">เพิ่มข้อมูล</a> </h1></th>

            </tr>
        </thead>
        <tbody>
            @for(image <- picsList ){
                <tr>
                    <td>@image.getImagejpg</td>
                    <td>@image.getNameimage</td>
                    <td>@image.getTxtimage</td>
                    <td>@image.getDataimage</td>
                    <td>@image.getTourist.getName</td>
                    <td><img src="/assets/images/uploads/@image.getPicture" style="width:120px;height: 120px"> </td>

                    <td>
                        <a href="/deletePicture/@image.getImagejpg" class="btn btn-danger" onclick="return confirm('โปรดยืนยันการลบข้อมูล???')">ลบ</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>