@(touristList:List[Tourist])
<head>
    <style>
    body{
        margin-top: 60px;
    }
    </style>

    <div class="6" align="center">
        @if(flash.containsKey("status")){
            <div class="alert alert-success">
                <div class="alert-heading">
                    <h2>@flash.get("status")</h2>
                </div>
            </div>
        }
    </div>
</head>

<body style="background-color: gainsboro">
    <br>
    <h1>List Tourist</h1>
    <table class="w3-table  w3-striped w3-border w3-xlarge">
        <tr>
            <th>รหัสสถานที่ท่องเที่ยว</th>
            <th>ชื่อ</th>
            <th>ลักษณะ</th>
            <th>รายละเอียด</th>
            <th>ขนาดพื้นที่</th>
            <th>สถานที่ตั้ง</th>
            <th>ประวัติความเป็นมา</th>
            <th>เวลาทำการ</th>
            <th>เบอร์โทรศัพท์</th>
            <th>อีเมลล์</th>
            <th>ค่าบริการ(คนไทย)</th>
            <th>ค่าบริการ(ชาวต่างชาติ)</th>
            <th>ปีที่จัดตั้ง</th>
            <th>หน่วยงานที่รับผิดชอบ</th>


            <th><a href="/newTourist" class="btn-info">เพิ่มข้อมูลสถานที่ท่องเที่ยว</a> </th>
        </tr>
        @for(tourist<-touristList){
            <tr>
                <td>@tourist.getTid</td>
                <td>@tourist.getName</td>
                <td>@tourist.getType</td>
                <td>@tourist.getDetail</td>
                <td>@tourist.getSize</td>
                <td>@tourist.getLocate</td>
                <td>@tourist.getHistory</td>
                <td>@tourist.getTimeopen</td>
                <td>@tourist.getTel</td>
                <td>@tourist.getEmail</td>
                <td>@tourist.getServicethai</td>
                <td>@tourist.getServiceeng</td>
                <td>@tourist.getYearopen</td>
                <td>@tourist.getOrganize.getName</td>

                <td>
                    <a href="/editTourist/@tourist.getTid" class="w3-button w3-pale-green">แก้ไข</a>
                    <a href="/deleteTourist/@tourist.getTid" class="w3-button w3-pale-red" onclick="return confirm('โปรดยืนยันการลบข้อมูลที่เลือก?')">ลบ</a>
                </td>
            </tr>
        }
    </table>
</body>