@(picsList : List[Pics])
<html>
    <br>
    <h1 align="center">รวมอุทยานจ่ะ</h1>
    <link rel="stylesheet" href="/assets/stylesheets/css/bootstrap.css">
    <body>

        @for(image<-picsList){

            <div class="row" style="background-color: #80bdff">
                <a href="/seeTourist/@image.getImagejpg">
                    <div class="col-md-2">
                        <div class="thumbnail">
                                <img src="assets/images/uploads/@image.getPicture" alt="Nature" style="width:5%">
                        </div>
                        @image.getTourist.getName
                    </div>

                    <div class="col-md-10">
                        <a href="/seeTourist/@image.getImagejpg"><h3>@image.getTourist.getName</h3></a>
                    </div>
                </a>
            </div>
        }
    </body>
</html>