@(member: Member)
<div class="container-fluid" align="center">
    <div class style="width:500px">
        <h2 align="center">Welcome to login</h2><br>
        <div class="w3-card w3-round w3-white">
            <div class="w3-container">
                <h4 class="w3-center">vbvb</h4>
                <p class="w3-center"><img src="assets/images/plugg.jpg" class="w3-circle" style="height:106px;width:106px" ></p>
                <hr>
                <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Name: @member.getId</p>
                <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Status: @member.getStatus</p>
                <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i>Email: @member.getEmail</p>
                <br>
                <a href="/Home" class="w3-button w3-red w3-round-large">เข้าสู่เว็บไซต์</a>
            </div>
        </div>
        <br>
    </div>
</div>