<!DOCTYPE html>
<html>
    <head>
        <style>

        .center {
            text-align: center;
            border: 3px solid red;
        }
        </style>
    </head>
    <body>

        <h1 align="center" style="font-family:AngsanaUPC; font-size: 28px"><b>สิ่งที่สนใจ</b></h1>

        <div class="center">
            <h3>Adobe Lightroom</h3>
        </div> <br>


        <dd>
            <p style="font-family:AngsanaUPC; font-size: 24px">เมื่อเราติดตั้งโปรแกรมแล้วเปิดโปรแกรมขึ้นมา</p> <br>
            <img src="assets/images/Lr1.jpg">

            <p style="font-family:AngsanaUPC; font-size: 24px">จากนั้นให้เรา Import ไฟล์รูปภาพที่เราต้องการจะตกแต่ง</p>
            <img src="assets/images/Lr2.jpg"> <br>

            <p style="font-family:AngsanaUPC; font-size: 24px">เลือกไดร์ที่เก็บรูปภาพในเครื่องคอมพิวเตอร์ เพื่อเข้ามาตกแต่งแก้ไข</p>
            <img src="assets/images/Lr3.jpg"> <br>

            <p style="font-family:AngsanaUPC; font-size: 24px">จากนั้นให้เราคลิก Develop เพื่อแก้ไขตกแต่งภาพ</p>
            <img src="assets/images/Lr4.jpg"> <br>

            <p style="font-family:AngsanaUPC; font-size: 24px">ระบบก็จะนำพาเรามาสู่ Develop หน้าที่พร้อมจะทำการตกแต่งภาพแล้ว</p>
            <img src="assets/images/Lr5.jpg"> <br>
            <p style="font-family:AngsanaUPC; font-size: 24px">ซ้ายคือ preset เป็นการแต่งรูปอัตโนมัติ คือคลิกที่ preset ที่เราต้องการรูปก็จะกลายเป็นสีโทนนั้นอัตโมมัติ</p>
            <p style="font-family:AngsanaUPC; font-size: 24px">ขวาคือ การแต่งรูปด้วยตนเอง โดยเราเป็นคนปรับแต่งกำหนดค่าต่างๆเอง</p>
            <p>Cr.https://www.kruchiangrai.net/2014/10/01/</p>
        </dd>

    </body>
</html>
