<html>
    <head>

        <title>Profile</title>

    </head>

    <body bgcolor="white" text="#00bfff">

        <br>
        <h1 align="center">Profile</h1>


        <center> <img  src="assets/images/my-profile.jpg" style="width:240px;height:240px;"> </center>

        <h2 style="font-family: AngsanaUPC;" align="center">รหัสประจำตัวนักศึกษา : 60342110120-3</h2>
        <h2 style="font-family: AngsanaUPC;" align="center">ชื่อ-นามสกุล : วรดี จงแพทย์</h2>
        <h2 style="font-family: AngsanaUPC;" align="center"> วันเกิด : 5 พฤษภาคม 2542</h2>
        <h2 style="font-family: AngsanaUPC;" align="center"> สัญชาติ : ไทย  เชื้อชาติ : ไทย</h2>
        <h2 style="font-family: AngsanaUPC;" align="center"> ชอบแต่งรูป ถ่ายรูปธรรมชาติ </h2>
        <h2 style="font-family: AngsanaUPC;" align="center">สาขา : ระบบสารสนเทศทางคอมพิวเตอร์ </h2>
        <h2 style="font-family: AngsanaUPC;" align="center">คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ </h2>
        <h2 style="font-family: AngsanaUPC;" align="center">มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น </h2>

    </body>

</html>