@()
<!DOCTYPE html>
<html>
    <head>
        <title>Travel in Khonkaen</title>
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">

    </head>
    <body>
        <header>
            <div class="main">
                <div class="logo">
                    <img src="assets/images/logo2.png">
                </div>

            </div>
            <div class="title">
                <h1>National park</h1>
            </div>
            <div class="button">
                <a href="/inweb" class="btn">เข้าสู่เว็บไซต์ เข้ามาดิ</a>
            </div>
        </header>

    </body>
</html>