<link rel="stylesheet" type="text/css" href="/assets/stylesheets/inweb.css">
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/slideshow.css">
<link rel="stylesheet" type="text/js" href="/assets/stylesheets/im.js">
<title>Travel in Khonkaen</title>

<div class="logo">
    <img src="assets/images/logo2.png">
</div>

<div id="menu">
    <ul>
        <li><a href="/Home" class="active">Home</a></li>
        <li><a href="/listTour" class="active">อุทยาน</a></li>
        <li><a href="/Login" class="active">Login</a></li>
    </ul>

</div>


