
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/login.css">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">

        <style>

        </style>
    </head>
    <body>
        <div class="6" align="center">
            <div class="6" align="center">
            @if(flash.containsKey("loginFailHead")){
                <div class="alert alert-danger">
                    <div class="alert-heading">
                        <h2>@flash.get("loginFailHead")</h2>
                        <h2>@flash.get("loginFailDetail")</h2>
                    </div>
                </div>
            }
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script>

          $("#login").click(function(){
              $("#register").css("background-color", "#ecf0f1");
              $("#register > span").css("color", "#333");
              $("#login").css("background-color", "#e74c3c");
              $("#login > span").css("color", "white");
              $("#l-f").toggle(1000);
              $("#r-f").toggle(500);
          })

</script>
        <div class="button">
            <a href="/newmember" class="btn">สมัครสมาชิก</a>
            <a href="/inweb" class="btn">เข้าสู่เว็บไซต์ เข้ามาดิ</a>
        </div>


        <div class="lr-wrapper" align="center">
            <div class="lr-content">
                <div class="lr-head">

                </div>
                <div class="lr-main">
                    <form method="post" id="l-f" action="/chklogin">
                        <input type="text" id="username_login" name="txtUserId" class="l-username" placeholder="Username"/>
                        <input type="password" id="password_login" name="txtPassword" class="l-password" placeholder="Password"/>
                        <input type="submit" name="l-submit" class="l-submit" value="Login"/>
                    </form>

                </div>
            </div>
        </div>
    </body>

</html>
