@(form:Form[Member])
<!DOCTYPE html>
<html>
    <title>สมัครสมาชิก</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body>
        <style>
        body{
            margin-top: 60px;
        }
        </style>

        <div class="w3-card-4">
            <div class="w3-container w3-brown">
                <h2>สมัครสมาชิก</h2>
            </div>
            <form class="w3-container" action="/createmember" method="post">
                <p>
                    <label class="w3-text-brown"><b>Username</b></label>
                    <input class="w3-input w3-border w3-sand" name="id" type="text"></p>
                <p>
                    <label class="w3-text-brown"><b>Password</b></label>
                    <input class="w3-input w3-border w3-sand" name="password" type="text"></p>
                <p>
            <p>
                <label class="w3-text-brown"><b>Name</b></label>
                <input class="w3-input w3-border w3-sand" name="name" type="text"></p>
            <p>
                <label class="w3-text-brown"><b>Email</b></label>
                <input class="w3-input w3-border w3-sand" name="email" type="text"></p>

                <input type="radio" value="male" name="gender">ชาย
                <input type="radio" value="female" name="gender">หญิง
<br>
                <div class="container" align="center">
                <input type="checkbox"required value="member" name="status">Accept
        </div>

                <p align="center">
                    <button class="w3-btn w3-brown" >Register</button>
                </p>
            </form>
        </div>

    </body>
</html>
